.feedback-form {
    border-radius: 8px;
    padding: 24px;
    width: 408px;
    background: #fff;
    text-align: left;
}

.feedback-form label {
font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.feedback-form input,
.feedback-form textarea {
    width: 100%;
   padding: 10px;
   margin-top: 5px;
   border: 1px solid #2e2f42;
   border-radius: 4px;
   box-sizing: border-box;
}

.feedback-form button {
    border-radius: 8px;
    padding: 8px 16px;
    width: 95px;
    height: 40px;
    background: #4e75ff;
    justify-content: start;
}

.feedback-form button:hover {
    background: #6c8cff;
}
