.gallery {
    display: flex;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 24px 156px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
}

.gallery-item {
    flex: 0 0 calc((100% - 48px) / 3);
    box-sizing: border-box;
    overflow: hidden;
    height: auto;
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}